html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
}  

/* CONNEXION */

#backgroundConnexion {
    background-image: url("./image/Castleinthesky.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.h2 {
    color: #64b5f6;
    font-size: 160%;
}

.formConnexion {
    width: 30%;
    height: 46%;
    display: block;
    text-align: center;
    background: white;
    margin: 15% auto;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    padding-top: 1px;
}

.input-field input[type=text]:focus + label {
    color: #64b5f6 !important;
}

.input-field input[type=password]:focus + label {
    color: #64b5f6 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field .prefix.active {
    color: #64b5f6;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
}

.input-field input[type=password].valid {
    border-bottom: 1px solid #64b5f6;
    box-shadow: 0 1px 0 0 #64b5f6;
}

/* CREATION TP */
.h3 {
    color:black;
    font-size: 175%;
    text-align:left;
}

.input-field textarea:focus + label {
    color: #64b5f6 !important;
}
  
.row .input-field textarea:focus {
    border-bottom: 1px solid #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important
}

